/*  Color Variables  */
$cl_white: #FFFFFF;
$cl_pattens_blue: #D9E4E8;
$cl_malibu: #55C6F5;
$cl_summer_sky: #35C1F8;
$cl_dodger_blue: #15A4FA;
$cl_emerald: #48BC60;
$cl_green: #b1ffb1;
$cl_nobel: #9C9C9C;
$cl_whisper: #E9E9E9;
$cl_nevada: #6B7273;
$cl_black: #000000;
$cl_red: #FF0000;
$cl_cinnabar: #D54936;
