.demo1 {
    background-color: #00ffff;

    .box1 {
        background-color: red;
        width: 120px;
        height: 100px;
        border-radius: 50%;
    }

    .box2 {
        background-color: yellow;
        border: 2px solid red;
        width: 120px;
        height: 100px;
        border-radius: 20px;
    }

    .box3 {
        background-color: blue;
        width: 120px;
        height: 100px;
    }

    .box4 {
        background-color: green;
        width: 120px;
        height: 100px;
        border-right: 5px solid blue;
    }

    .box5 {
        background-color: orange;
        width: 220px;
        height: 200px;
    }

    .box6 {
        background-color: purple;
        width: 120px;
        height: 100px;
    }

    .box7 {
        background-color: transparent;
        width: 120px;
        height: 100px;
        color: green;
    }

    .box8 {
        background-color: black;
        width: 120px;
        height: 100px;
        color: white;
        bottom: 50px;
    }

    .box9 {
        background-color: gray;
        width: 120px;
        height: 100px;
        color: red;
        .text {
            bottom: 22px;
        }
    }
}
