@import '../utils/variables';

.nav-default {
    ul {
        margin-bottom: 0;
        height: 50px;
        display: flex;
        li {
            height: 100%;
            list-style-type: none;
            padding: 0 20px;
            display: flex;
            align-items: center;
            border-right: 1px solid $cl_whisper;
            &:last-child {
                border-right: 0;
            }
            a {
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}